@import url(./theme.css);
@import url(./loading.css);

body {
  font-family: var(--font-geist-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-theme="Bear"] body {
  font-family: var(--font-geist-mono);
}

html[data-theme="Northface"] body {
  font-family: var(--font-geist-sans);
}

html[data-theme="Grand"] body {
  font-family: var(--font-poppins);
}

html[data-theme="Zion"] body {
  font-family: var(--font-roboto);
}

html[data-theme="Millcreek"] body {
  font-family: var(--font-inter);
}

html[data-theme="Timp"] body {
  font-family: var(--font-roboto-mono);
}

html,
body {
  color-scheme: var(--color-scheme);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-image: url('/topo.png');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a.inline:hover {
  text-decoration: underline;
}

.logo {
  filter: var(--logo-filter);
  cursor: pointer;
}

.logo-wrapper:hover::after {
  content: '';
  position: absolute;
  background-color: var(--accent);
  height: 60px;
  width: 60px;
  z-index: 99;
  border-radius: 5px;
  mix-blend-mode: difference;
  display: block;
  top: 23px;
  cursor: pointer;
}

.scheme-toggle {
  margin-right: 9px;
  cursor: pointer;
  filter: var(--icon-fill);
}

.scheme-toggle:hover {
  filter: var(--icon-foreground);
}

.scheme-toggle-placeholder {
  width: 60px;
}

/* .is-loading {
  position: fixed !important;
} */

.loading-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background);
  background-image: url('/topo.png');
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-pod {
  width: 200px;
  height: 140px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--transparent);
  border: 1px solid var(--header-background);
  border-radius: 10px;
  display: none;
}

.loading-pod.active {
  display: flex;
}

.loader-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.header {
  position: relative;
  height: 110px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--header-background);
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.header .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
}

.header ul {
  list-style: none;
  margin-right: 21px;
  display: flex;
  align-items: center;
}

.header ul li {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.header ul li img {
  filter: var(--icon-fill);
}

.header ul li span {
  position: relative;
  top: 3px;
}

.header ul li:hover,
.header ul li.active,
.header ul li span {
  color: var(--accent);
}

.section {
  height: 100vh;
  padding: 110px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
}

.rows {
  flex-direction: row;
  gap: 50px;
  position: relative;
  z-index: 1;
}

.intro {
  align-self: flex-start;
  margin-left: 15vw;
}

.intro h1,
.intro h2 {
  font-size: clamp(40px, 8vw, 80px);
}

.intro h2 {
  color: var(--light-text);
  padding-right: 10px;
}

.intro h5 {
  margin: 0px 0px 14px 4px;
  color: var(--accent);
  font-size: 19px;
  font-weight: 400;
}

.intro p {
  margin: 20px 0px 0px;
  max-width: 540px;
  line-height: 30px;
  color: var(--foreground);
  padding-right: 10px;
}

.about {
  max-width: 615px;
}

.title-wrapper {
  position: relative;
}

.title-wrapper .selects {
  position: absolute;
  right: 18px;
  bottom: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title-wrapper .selects .select {
  width: 23px;
  height: 23px;
  border-radius: 4px;
  border: 2px solid var(--accent);
  background-color: var(--background);
  cursor: pointer;
}

.title-wrapper .selects .select.active,
.title-wrapper .selects .select:hover {
  background-color: var(--accent);
}

h2.title {
  font-size: clamp(35px, 8vw, 65px);
  border-bottom: 2px solid var(--light-text);
  padding-bottom: 11px;
  margin-bottom: 42px;
  width: 100%;
  display: flex;
  gap: 5px;
}

h2.title .icon img {
  filter: var(--icon-fill);
}

.about p {
  line-height: 25px;
}

.about p.space {
  margin-bottom: 29px;
}

.fancy-photo {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.fancy-img {
  border-radius: 10px;
  border: 4px solid var(--accent);
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: black;
  z-index: 3;
}

.fancy-img::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 4px solid var(--accent);
  top: 20px;
  left: 20px;
  z-index: -1;
}

.fancy-img.small {
  border-width: 2px;
}

.fancy-img.small::after {
  border-width: 2px;
  top: 8px;
  left: 8px;
}

.fancy-img.linked:hover::after {
  background-color: var(--accent);
}

.profile {
  max-width: 500px;
}

.company {
  width: 75vw;
  max-width: 800px;
}

button.cta {
  color: var(--accent);
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: 1em;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 50px;
  margin-right: 10px;
}

button.cta.small {
  margin-top: 5px;
  font-size: 0.9em;
  padding: 7px 14px;
  border-radius: 5px;
}

button.cta:hover {
  color: white;
  background-color: var(--accent);
}

button.cta.inverse {
  border-color: var(--icon-foreground);
  color: var(--icon-foreground);
}

button.cta.inverse:hover {
  background-color: var(--foreground);
  color: var(--background);
}

a {
  color: var(--accent);
}

.company h2 a {
  font-weight: 200;
  margin-left: 5px;
}

.company h2 a:hover {
  font-weight: 300;
}

.company h4 {
  color: var(--light-text);
  font-weight: 400;
  margin: 8px 0 21px;
}

.company p {
  line-height: 27px;
  margin-bottom: 20px;
}

.company ul {
  list-style: none;
  margin-left: 0;
  padding-left: 16px;
  width: 42vw;
}

.company li {
  text-indent: -1.5em;
  padding: 5px 1em;
}

.company li span {
  color: var(--light-text);
  font-style: italic;
}

.company li span strong {
  font-style: normal;
}

.company li:before {
  content: "+";
  color: var(--accent);
  padding-right: 9px;
  font-size: 25px;
  top: 2px;
  position: relative;
}

.companies {
  position: relative;
}

.companies ul {
  list-style: none;
  width: 185px;
  text-align: left;
  position: relative;
}

.companies ul li {
  padding: 15px;
  border-right: 4px solid var(--light-text);
  opacity: 0.5;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}

.companies ul li.active {
  border-right: 4px solid var(--accent);
  opacity: 1;
  background-color: var(--transparent);
}

.mobile-select {
  position: absolute;
  top: -15px;
  background: var(--accent);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--background);
  font-weight: bold;
  font-size: 1.3em;
  width: 194px;
}

.mobile-select span::after {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--background);
  font-size: 0;
  line-height: 0;
  position: relative;
  float: right;
  top: 8px;
}

.work-examples {
  height: 45vh;
  justify-content: space-between;
}

.examples {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.example-tiles.open {
  gap: 25px;
}

.examples .example-tile.open {
  flex-grow: 1;
  transition: flex-grow 200ms;
  align-items: flex-start;
  flex-direction: row;
  gap: 0;
}

.project-details h2 {
  margin: 0 0 8px;
  font-size: 19px;
}

.project-details p {
  line-height: 23px;
  margin-bottom: 9px;
  font-size: 14px;
  width: 100%;
}

.examples .example-tile.open .fancy-img::after {
  width: 100%;
  background-color: var(--transparent);
  height: 222px;
  border-right: 0;
  border-radius: 0 0 0 10px;
}

.project-details {
  overflow: hidden;
  background-color: var(--transparent);
  border: 2px solid var(--accent);
  border-left: 0;
  height: 226px;
  border-radius: 0 10px 10px 0;
  margin-top: 10px;
  text-align: left;
  padding: 23px;
  margin-left: 8px;
}

.example-tiles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  padding: 18px 0 30px;
}

.example-tile {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  align-items: center;
  gap: 20px;
  color: var(--foreground);
  cursor: pointer;
  text-align: center;
}

.skills-wrapper {
  width: 68vw;
  max-width: 1065px;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  justify-content: space-evenly;
}

.skill-cards {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  width: 30.8%;
  display: inline-block;
  perspective: 1000px;
}

.card .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  background-color: var(--transparent);
  padding: 15px;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  cursor: grab;
}

.card .back {
  transform: rotateY(180deg);
  line-height: 25px;
  font-size: 13px;
  overflow: hidden;
}

.skills .card h4 {
  border-bottom: 2px solid var(--transparent);
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.skills .card ul {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
}

.skills .card ul li {
  height: 25px;
  white-space: nowrap;
}

.skills .card ul li:before {
  content: "+";
  color: var(--accent);
  padding-right: 9px;
  font-size: 25px;
  top: 2px;
  position: relative;
}

.card .description {
  overflow-y: scroll;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.socials img {
  filter: var(--icon-foreground);
}

.socials a:hover img {
  filter: var(--icon-fill);
}

.tooltip {
  position: relative;
  text-decoration: none;
  border-bottom: none;
}

.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 12px;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  background: var(--accent);
  color: #fff;
  text-align: left;
  display: none;
  z-index: 10;
  text-align: center;
  font-size: 13px;
}

.tooltip::after {
  content: "";
  position: absolute;
  left: 100%;
  margin-left: -4px;
  top: 50%;
  transform: translateY(-50%);
  border: 8px solid var(--accent);
  border-color: transparent var(--accent) transparent transparent;
  display: none;
  z-index: 10;
}

.tooltip.left::before {
  left: initial;
  margin: initial;
  right: 100%;
  margin-right: 12px;
}

.tooltip.left::after {
  left: -8px;
  margin-right: 4px;
  top: 50%;
  transform: translateY(-50%);
  border: 8px solid var(--accent);
  border-color: transparent transparent transparent var(--accent);
}

.tooltip.top::before {
  left: -35%;
  transform: translateX(-50%) translateY(-100%);
  top: -14px;
  margin-bottom: 15px;
}

.tooltip.top::after {
  left: 28%;
  top: -6px;
  transform: translateY(-50%);
  border: 8px solid var(--accent);
  border-color: var(--accent) transparent transparent;
}

.tooltip.bottom::before {
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: 12px;
}

.tooltip.bottom::after {
  left: 50%;
  top: calc(100% + 4px);
  transform: translateY(-50%);
  border: 8px solid var(--accent);
  border-color: transparent transparent var(--accent);
}

.tooltip:hover::before {
  display: block;
}

.tooltip:hover::after {
  display: block;
}

@media (min-width: 700px) and (max-width: 900px) {
  .skill-cards {
    height: 64vh;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .rows {
    gap: 25px;
  }

  #About.rows {
    flex-direction: column-reverse;
  }

  .intro h2 {
    font-size: 3em;
  }

  .profile {
    margin-right: 57vw;
    margin-bottom: 25px;
  }

  .companies ul {
    margin: 0;
    width: 156px;
  }

  .company {
    width: 55vw;
  }

  .company ul {
    width: 100%;
  }

  .skills-wrapper {
    width: 78vw;
  }

  .company h2 a {
    display: block;
  }

  .example-tiles {
    flex-wrap: wrap;
    gap: 34px;
  }
}

@media (max-width: 599px) {
  .section {
    height: auto;
  }

  .header ul {
    margin-right: 5px;
  }

  .header ul li {
    margin-left: 9px;
  }

  h2.title {
    margin-top: 15px;
  }

  .intro {
    margin-left: 25px;
  }

  .intro h5 {
    margin-top: 40px;
  }

  .intro p {
    margin-right: 35px;
    font-size: 14px;
  }

  .rows,
  .skills {
    flex-direction: column;
  }

  #About.rows,
  #Work .work .rows {
    flex-direction: column-reverse;
  }

  .about,
  .work,
  .skills-wrapper {
    width: 100%;
    padding: 0 25px;
    font-size: 14px;
  }

  .skill-cards {
    flex-direction: row;
    height: auto;
  }

  .work-examples {
    height: auto;
  }

  .card {
    width: 100%;
  }

  .about p,
  .company p {
    line-height: 21px;
  }

  .company {
    width: 100%;
  }

  .company ul {
    width: 100%;
  }

  .companies ul {
    margin-left: 0;
    position: absolute;
    top: 17px;
    left: 5px;
    z-index: 9;
    background-color: var(--header-background);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    border-bottom: 1px solid var(--light-text);
    border-left: 1px solid var(--light-text);
  }

  .companies ul li {
    border-radius: 0;
    font-size: 16px;
    padding: 20px 5px;
    text-align: center;
  }

  .company h2 a {
    display: block;
  }

  .example-tiles {
    flex-wrap: wrap;
    gap: 34px;
    justify-content: space-between;
    margin-right: 10px;
  }
}

#SkillsAccent {
  position: absolute;
  right: 75px;
  width: 236px;
  transform: rotate(90deg);
  padding: 15px 20px;
  text-align: center;
}

#Roamer {
  position: absolute;
  background-color: var(--accent);
  border-radius: 8px;
  mix-blend-mode: var(--roam-blend);
  transition: all 1.5s;
  z-index: 1;
  cursor: pointer;
}

#Themes {
  position: absolute;
  top: 150px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

#ThemeSelector,
#BlendSelector {
  min-height: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  text-align: center;
  gap: 5px;
}

.themes {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  transition: all 1.5s;
}

#ThemeSelector span.label,
#BlendSelector span.label {
  transform: rotate(90deg);
  transition: all .5s;
  cursor: pointer;
  width: 60px;
}

#ThemeSelector span.label:hover,
#BlendSelector span.label:hover,
#ThemeSelector span.label.open,
#BlendSelector span.label.open {
  color: var(--accent);
}

#ThemeSelector span.label.open,
#BlendSelector span.label.open {
  transform: rotate(0deg);
  transition: all .5s;
  width: 92px;
}

.theme-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--background);
  color: var(--foreground);
  position: relative;
  border: 2px solid var(--foreground);
  cursor: pointer;
}

.theme-item .check {
  position: absolute;
  text-align: center;
  width: 26px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.theme-select {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: var(--accent);
  border-radius: 50%;
  z-index: 1;
  transition: all 1.5s;
}

.theme-Bear {
  background-color: var(--bear-theme);
}

.theme-Northface {
  background-color: var(--northface-theme);
}

.theme-Grand {
  background-color: var(--grand-theme);
}

.theme-Zion {
  background-color: var(--zion-theme);
}

.theme-Millcreek {
  background-color: var(--millcreek-theme);
}

.theme-Timp {
  background-color: var(--timp-theme);
}

.blend-difference {
  background-color: var(--accent);
  mix-blend-mode: difference;
}

.blend-color {
  background-color: var(--accent);
  mix-blend-mode: color;
}

.blend-dodge {
  mix-blend-mode: color-dodge;
}

.blend-soft {
  mix-blend-mode: soft-light;
}

.blend-hard {
  mix-blend-mode: hard-light;
}

.blend-multiply {
  mix-blend-mode: multiply;
}

#Trail.run {
  transition: all 1.5s;
  position: fixed;
  left: 45px;
  height: 82vh;
  width: 8px;
  border-radius: 12px;
  background-color: var(--transparent);
}

.heat-map {
  transition: all 1.5s;
  background-color: var(--accent);
  position: fixed;
  width: 8px;
  border-radius: 12px;
  mix-blend-mode: var(--roam-blend);
}

.aid-stations {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  width: 8px;
  margin-top: 20vh;
}

.aid-stations.last {
  justify-content: flex-end;
  transition: justify-content 5s linear;
  height: 78%;
}

.aid-station {
  transition: all 1s;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  opacity: 0;
  flex-grow: 0;
  width: 0;
}

.aid-station.active {
  width: auto;
  flex-grow: 2;
  opacity: 1;
  transition: flex-grow 1s 1ms, opacity 1s linear;
}

.aid-station.Landing {
  opacity: 0;
}

.aid-station.Contact.active {
  flex-grow: 0;
}

.aid-station.Contact:not(.active) {
  display: none;
}

.aid-station span {
  min-width: 130px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  font-weight: bold;
  border-radius: 2px;
  background-color: var(--accent);
  font-size: 1.2em;
}

.aid-station.active span {
  mix-blend-mode: var(--roam-blend);
}
