#ToolBox .tools h1 {
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 2px solid var(--transparent);
  padding-bottom: 10px;
}

h1 img {
  filter: var(--icon-fill);
}

.toolbox {
  width: 80vw;
  max-width: 1400px;
}

.tool-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 35px;
}

.code-panel {
  font-family: var(--font-geist-mono);
  flex-grow: 2;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.code-panel .title {
  background-color: var(--less-transparent);
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.code-panel .code {
  height: calc(100% - 36px);
  color: #abb2bf;
  background: #282c34;
  position: relative;
  font-size: 1.4em;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: row;
}

.code .panel {
  position: relative;
  padding: 35px;
  width: 10px;
  transition: flex-grow 200ms;
  cursor: pointer;
}

.code .panel.multi:first-child {
  border-right: 1px solid #555;
}

.code .panel:not(.active):hover {
  background-color: var(--more-transparent);
}

.code .panel.active {
  flex-grow: 2;
  cursor: unset;
}

.code img {
  filter: var(--icon-background);
}

@media (prefers-color-scheme: dark) {
  .code img {
    filter: var(--icon-foreground);
  }

  html[data-scheme="light"] .code img {
    filter: var(--icon-background);
  }
}

.codedisplay {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.codetype {
  background-color: rgba(0, 0, 0, .3);
  padding: 5px 10px;
  border-radius: 0 0 0 5px;
  text-transform: uppercase;
  font-size: 0.6em;
  position: absolute;
  top: 0;
  right: 0;
}

.code-panel img.copy {
  position: absolute;
  bottom: 8px;
  left: 8px;
  cursor: pointer;
}

.code-panel img.copy:hover {
  filter: var(--icon-fill);
}

.tools .inputs {
  display: flex;
  flex-direction: column;
}

.tools .inputs .input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.tools .inputs .input label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding: 5px 0;
}

.preview {
  display: flex;
  color: var(--foreground);
  height: 100%;
}

.shades,
.theme {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.flex-tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  min-width: 300px;
  height: 100%;
}

.flex-tools h3 {
  margin-bottom: 8px;
  font-size: 1em;
}

.tool-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.tool-row .tool-col {
  width: 45%;
  font-size: 0.9em;
}

.select-btns.direction {
  width: 101px;
}

.filters {
  flex-direction: column;
  justify-content: space-between;
}

.filters .image {
  display: flex;
  flex-direction: column;
}

.preview img {
  filter: var(--icon-foreground);
}

.preview div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  gap: 2px;
}

.preview .sample {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid var(--more-transparent);
}

.preview .sample.small {
  width: 30px;
  height: 30px;
}

.preview .label {
  margin-left: 5px;
  font-style: italic;
  color: var(--foreground);
}

.tools .result {
  flex-grow: 2;
  background-color: var(--more-transparent);
  padding: 20px;
  font-size: 0.9em;
  border-radius: 0 0 5px 5px;
}

.flex-tools .result {
  width: 100%;
}

.pod {
  background-color: var(--transparent);
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.pod.grow {
  flex-grow: 1;
}

.pod:hover {
  background-color: var(--less-transparent);
}

.select-shade {
  cursor: pointer;
}

.select-shade:hover {
  color: var(--accent);
}

.select-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.select-btns div {
  flex-grow: 1;
  height: 40px;
  background-color: var(--more-transparent);
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-btns div:hover,
.select-btns div.active {
  background-color: var(--transparent);
}

.select-btns .column,
.select-btns .row {
  width: 45%;
  display: flex;
  gap: 3px;
  padding: 5px;
}

.select-btns .column {
  flex-direction: column;
}

.select-btns .row {
  flex-direction: row;
}

.psuedo-elem {
  content: '';
  background-color: var(--less-transparent);
}

.column .psuedo-elem {
  height: 40px;
  width: 100%;
}

.row .psuedo-elem {
  width: 40px;
  height: 100%;
}

.select-tool {
  width: 100%;
  min-width: 100px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}

.select-tool:not(.open) {
  background-color: var(--more-transparent);
  border: 2px solid var(--transparent);
}

.select-tool:not(.open):hover {
  background-color: var(--slight-transparent);
}

.select-area {
  position: absolute;
  top: 0;
  background-color: var(--slight-transparent);
  border-radius: 5px;
  min-width: 100px;
  overflow: hidden;
  z-index: 99;
  border: 2px solid var(--transparent);
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--foreground);
}

.select-item {
  padding: 5px 10px;
  user-select: none;
  font-size: 0.9em;
}

.select-item:not(.main) {
  background-color: var(--slight-transparent);
}

.select-item.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.select-item i {
  font-size: 0.8em;
  opacity: 0.5;
}

.select-item:not(.main):hover,
.select-item.active {
  background-color: var(--light-text);
  color: var(--background);
}

.flex-preview {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 266px;
  flex-grow: 2;
  overflow: hidden;
}

.nohex {
  font-style: italic;
  color: #777;
}

.color-picker {
  cursor: pointer;
  position: absolute;
  top: 37px;
  right: 10px;
}

.tools input[type="text"] {
  font-family: var(--font-geist-mono);
  background-color: var(--more-transparent);
  border: 2px solid var(--less-transparent);
  padding: 12px;
  border-radius: 4px;
  font-size: 1.3em;
  width: auto;
}

.tools input.tiny {
  font-size: 0.9em;
  padding: 11px;
  background-color: var(--more-transparent);
  border: 2px solid var(--less-transparent);
  border-radius: 4px;
  outline: none;
  opacity: 0.75;
}

.tools input[type="color"] {
  background-color: var(--more-transparent);
  border: 2px solid var(--less-transparent);
  border-radius: 4px;
  width: 32px;
  height: 32px;
}

.tools input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.tools input[type="color"]::-webkit-color-swatch {
  border: none;
}

.processes {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  border-bottom: 2px solid var(--transparent);
}

.processes .process {
  padding: 6px 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
  position: relative;
  bottom: -2px;
  z-index: 9;
}

.processes .process.active {
  border-bottom: 2px solid var(--accent);
}

.processes .process:not(.active):hover {
  color: var(--accent);
}