#ToolBox .tools h1 {
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 2px solid var(--transparent);
  padding-bottom: 10px;
}

h1 img {
  filter: var(--icon-fill);
}

.toolbox {
  width: 80vw;
  max-width: 1400px;
}

.tool-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 35px;
}

.code-panel {
  font-family: var(--font-geist-mono);
  flex-grow: 2;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.code-panel .title {
  background-color: var(--less-transparent);
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.code-panel .code {
  height: calc(100% - 36px);
  padding: 35px;
  color: #abb2bf;
  background: #282c34;
  position: relative;
  font-size: 1.4em;
  border-radius: 0 0 8px 8px;
}

.code img {
  filter: var(--icon-background);
}

@media (prefers-color-scheme: dark) {
  .code img {
    filter: var(--icon-foreground);
  }

  html[data-scheme="light"] .code img {
    filter: var(--icon-background);
  }
}

.codedisplay {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.codetype {
  background-color: rgba(0, 0, 0, .3);
  padding: 5px;
  border-radius: 0 0 0 5px;
  text-transform: uppercase;
  font-size: 0.6em;
  position: absolute;
  top: 0;
  right: 0;
}

.code-panel img.copy {
  position: absolute;
  bottom: 8px;
  left: 8px;
  cursor: pointer;
}

.code-panel img.copy:hover {
  filter: var(--icon-fill);
}

.tools .inputs {
  display: flex;
  flex-direction: column;
}

.tools .inputs .input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.tools .inputs .input label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding: 5px 0;
}

.preview {
  display: flex;
  color: var(--foreground);
}

.shades,
.theme {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.filters {
  flex-direction: column;
  justify-content: space-between;
}

.filters .image {
  display: flex;
  flex-direction: column;
}

.preview img {
  filter: var(--icon-foreground);
}

.preview div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  gap: 2px;
}

.preview .sample {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid var(--more-transparent);
}

.preview .sample.small {
  width: 30px;
  height: 30px;
}

.preview .label {
  margin-left: 5px;
  font-style: italic;
  color: var(--foreground);
}

.tools .result {
  flex-grow: 2;
  background-color: var(--more-transparent);
  padding: 20px;
  font-size: 0.9em;
  border-radius: 0 0 5px 5px;
}

.select-shade {
  cursor: pointer;
}

.select-shade:hover {
  color: var(--accent);
}

.shades-select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.shades-select div {
  width: 30%;
  height: 40px;
  background-color: var(--more-transparent);
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shades-select div:hover,
.shades-select div.active {
  background-color: var(--transparent);
}

.nohex {
  font-style: italic;
  color: #777;
}

.submit-btn {
  content: '';
  width: 34px;
  height: 34px;
  cursor: pointer;
  position: absolute;
  top: 36px;
  right: 10px;
  border-radius: 2px;
  border: 2px solid var(--more-transparent);
}

.tools input {
  font-family: var(--font-geist-mono);
  background-color: var(--more-transparent);
  padding: 12px;
  border: 2px solid var(--less-transparent);
  border-radius: 4px;
  font-size: 1.3em;
  width: auto;
}

.processes {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  border-bottom: 2px solid var(--transparent);
}

.processes .process {
  padding: 6px 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
  position: relative;
  bottom: -2px;
  z-index: 9;
}

.processes .process.active {
  border-bottom: 2px solid var(--accent);
}

.processes .process:not(.active):hover {
  color: var(--accent);
}