@import url(./compass.css);

.egg {
  position: absolute;
  filter: var(--icon-foreground);
  opacity: 0.2;
  cursor: pointer;
}

.egg:hover {
  opacity: 0.9;
}

.egg.skier {
  top: 50vh;
  left: 85vw;
}

.egg.boarder {
  top: 80vh;
  left: 10vw;
  transform: rotateY(180deg);
}

#SkiTracks {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  color: var(--foreground);
}

.tool-menu {
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  gap: 15px;
}

.tool-menu img {
  filter: var(--icon-foreground);
}

.close-game {
  border-radius: 3px;
  font-size: 1em;
  padding: 10px;
  border: 0;
  cursor: pointer;
  background-color: var(--transparent);
}

.close-game:hover {
  background-color: var(--accent);
  color: var(--background);
}

.ski-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.help-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  background-color: var(--transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  padding: 20px;
  font-style: italic;
  font-size: 16px;
  line-height: 29px;
}

.ex-icon {
  position: relative;
  top: 3px;
}

.ex-icon.color {
  filter: var(--icon-fill);
}

.rider {
  filter: var(--icon-foreground);
}

.ski-menu .menu {
  background-color: var(--transparent);
  border-radius: 3px;
  cursor: default;
  padding: 20px;
}

.ski-menu.start,
.ski-menu.gameover {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ski-menu.start .menu {
  height: 90vh;
  width: 90vw;
  max-width: 650px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ski-menu.gameover .menu {
  height: 270px;
  width: 90vw;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameover-ctas {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.gameover-ctas .sa-cta {
  margin: 0;
}

.ski-menu.gameover .menu img {
  filter: var(--icon-foreground);
}

.ski-menu.start .menu .menu-body,
.ski-menu.start .menu .menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.menu-header img {
  filter: var(--icon-foreground);
}

.trax-logo {
  position: fixed;
  top: 20px;
  z-index: 9;
  left: 20px;
  filter: var(--icon-foreground);
}

.ski-menu.start .menu .menu-body {
  padding: 0 15px;
}

.ski-menu.start .menu .menu-body .player {
  background-color: var(--background);
  padding: 19px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  margin: 10px auto 0;
}

.ski-menu.start .menu h1 {
  color: var(--accent);
}

.ski-menu.start .menu .sa-cta {
  margin-top: 15px;
}

.ski-menu.route,
.ski-menu.finish {
  width: 40vw;
  right: 20px;
  bottom: 20px;
  transition: width 2s;
}

.ski-menu.route .menu,
.ski-menu.finish .menu {
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ski-menu.route .menu .close {
  position: absolute;
  right: 8px;
  top: 16px;
}

.ski-menu .route-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--transparent);
}

.ski-menu.gameover h1,
.ski-menu .route-details h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ski-menu.gameover h1 .icon,
.ski-menu .route-details h1 .icon {
  height: 35px;
}

.ski-menu.gameover h1 img,
.ski-menu .route-details h1 img {
  filter: var(--icon-fill);
}

.ski-menu .route-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.route-details .route-stats {
  display: flex;
  gap: 15px;
}

.route-details .route-stats .stat {
  display: flex;
  align-items: center;
  gap: 3px;
}

.stat img {
  filter: var(--icon-fill);
}

.compass {
  position: fixed;
  bottom: 10px;
  left: 10px;
  filter: var(--icon-foreground);
}

.route-decision {
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.route-decision h2 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.route-decision h2 img {
  filter: var(--icon-foreground);
}

#GameArea {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#SkiMap {
  position: relative;
  cursor: grab;
  background-color: var(--background);
  background-image: url('/topo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 3850px;
  height: 2110px;
}

#SkiMap.locked {
  cursor: default !important;
}

#SkiMap.auto-centering .route .point {
  opacity: 0;
}

.route .point {
  position: absolute;
  cursor: default;
  z-index: 9;
  filter: var(--icon-foreground);
  opacity: 1;
  transition: opacity .2s;
}

.route .point.link {
  cursor: pointer;
  filter: var(--icon-fill);
}

.route .point.link:hover {
  filter: var(--icon-foreground);
}

.trail {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  margin: 0;
  pointer-events: none;
}

#Skinner {
  visibility: hidden;
  z-index: 99;
}

.action-area {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--more-transparent);
  border-radius: 10px;
  padding: 2rem;
  margin-top: 20px;
}
