.ski-egg {
  position: absolute;
  filter: var(--icon-foreground);
  opacity: 0.2;
  cursor: pointer;
}

.ski-egg:hover {
  opacity: 0.9;
}

.ski-egg.skier {
  top: 50vh;
  left: 85vw;
}

.ski-egg.boarder {
  top: 80vh;
  left: 10vw;
  transform: rotateY(180deg);
}

#SkiTracks {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  color: var(--foreground);
}

.tool-menu {
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  gap: 15px;
}

.tool-menu img {
  filter: var(--icon-foreground);
}

.close-game {
  border-radius: 3px;
  font-size: 1em;
  padding: 10px;
  border: 0;
  cursor: pointer;
  background-color: var(--transparent);
}

.close-game:hover {
  background-color: var(--accent);
  color: var(--background);
}

.ski-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.help-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  background-color: var(--transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  padding: 20px;
  font-style: italic;
  font-size: 16px;
  line-height: 29px;
}

.ex-icon {
  position: relative;
  top: 3px;
}

.ex-icon.color {
  filter: var(--icon-fill);
}

.rider {
  filter: var(--icon-foreground);
}

.ski-menu .menu {
  background-color: var(--transparent);
  border-radius: 3px;
  cursor: default;
  padding: 20px;
}

.ski-menu.start,
.ski-menu.gameover {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ski-menu.start .menu {
  height: 90vh;
  width: 90vw;
  max-width: 650px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ski-menu.gameover .menu {
  height: 270px;
  width: 90vw;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameover-ctas {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.gameover-ctas .sa-cta {
  margin: 0;
}

.ski-menu.gameover .menu img {
  filter: var(--icon-foreground);
}

.ski-menu.start .menu .menu-body,
.ski-menu.start .menu .menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.menu-header img {
  filter: var(--icon-foreground);
}

.trax-logo {
  position: fixed;
  top: 20px;
  z-index: 9;
  left: 20px;
  filter: var(--icon-foreground);
}

.ski-menu.start .menu .menu-body {
  padding: 0 15px;
}

.ski-menu.start .menu .menu-body .player {
  background-color: var(--background);
  padding: 19px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  margin: 10px auto 0;
}

.ski-menu.start .menu h1 {
  color: var(--accent);
}

.ski-menu.start .menu .sa-cta {
  margin-top: 15px;
}

.ski-menu.course,
.ski-menu.finish {
  width: 40vw;
  right: 20px;
  bottom: 20px;
  transition: width 2s;
}

.ski-menu.course .menu,
.ski-menu.finish .menu {
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.ski-menu.course .menu .close {
  position: absolute;
  right: 8px;
  top: 16px;
}

.ski-menu .course-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--transparent);
}

.ski-menu.gameover h1,
.ski-menu .course-details h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ski-menu.gameover h1 .icon,
.ski-menu .course-details h1 .icon {
  height: 35px;
}

.ski-menu.gameover h1 img,
.ski-menu .course-details h1 img {
  filter: var(--icon-fill);
}

.ski-menu .course-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.course-details .course-stats {
  display: flex;
  gap: 15px;
}

.course-details .course-stats .stat {
  display: flex;
  align-items: center;
  gap: 3px;
}

.stat img {
  filter: var(--icon-fill);
}

.compass {
  position: fixed;
  bottom: 10px;
  left: 10px;
  filter: var(--icon-foreground);
}

.course-decision {
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-decision h2 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.course-decision h2 img {
  filter: var(--icon-foreground);
}

#GameArea {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#SkiMap {
  position: relative;
  cursor: grab;
  background-color: var(--background);
  background-image: url('/topo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 3850px;
  height: 2110px;
}

#SkiMap.locked {
  cursor: default !important;
}

#SkiMap.auto-centering .course .point {
  opacity: 0;
}

.course .point {
  position: absolute;
  cursor: default;
  z-index: 9;
  filter: var(--icon-foreground);
  opacity: 1;
  transition: opacity .2s;
}

.course .point.link {
  cursor: pointer;
  filter: var(--icon-fill);
}

.course .point.link:hover {
  filter: var(--icon-foreground);
}

.death,
.course .point.death {
  filter: invert(17%) sepia(80%) saturate(7146%) hue-rotate(1deg) brightness(89%) contrast(89%);
}

.trail {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  margin: 0;
  pointer-events: none;
}

#Skinner {
  visibility: hidden;
  z-index: 99;
}

.action-area {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--more-transparent);
  border-radius: 10px;
  padding: 2rem;
  margin-top: 10px;
}

.consequence {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 30px;
  justify-content: space-evenly;
}

.consequence .sa-cta {
  margin-top: 0;
}

.consequence .choices {
  height: 60px;
}

.consequence-icon:not(.death) {
  filter: var(--icon-fill);
}

.options {
  display: flex;
}

#Pzl {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

#Pzl .area {
  padding: 20px;
  background-color: var(--transparent);
  border-radius: 6px;
}

#Pzl .preps {
  display: flex;
  flex-direction: row;
  background-color: var(--transparent);
  justify-content: space-between;
}

#Pzl .selector {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
  gap: 10px;
}

#Pzl .select {
  background-color: var(--more-transparent);
  border-radius: 12px;
  cursor: pointer;
}

#Pzl .select:hover {
  background-color: var(--transparent);
}

#Pzl .select:active {
  background-color: var(--accent);
}

#Pzl .combos {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  padding: 10px;
}

#Pzl .combo {
  background-color: var(--transparent);
  height: 40px;
  border-radius: 5px;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29%, 1fr));
  gap: 1px;
  border: 2px solid var(--more-transparent);
  position: relative;
  overflow: hidden;
}

#Pzl .combo.active {
  border: 2px solid var(--accent);
}

#Pzl .combo.done::before {
  content: '';
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
}

.rating-circle {
  width: 14px;
  height: 14px;
  background: #0a6924;
  border-radius: 50%;
}

.rating-square {
  width: 14px;
  height: 14px;
  background: #247bb6;
}

.rating-diamond {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #000;
  position: relative;
  top: -8px;
}

.rating-diamond:after {
  content: '';
  position: absolute;
  left: -8px;
  top: 8px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: #000;
}

#Pzl .combo.done .check {
  z-index: 9;
  width: 27px !important;
  margin: 0 auto;
  filter: var(--icon-background);
  opacity: 0.5;
}

#Pzl .combo .on {
  background-color: var(--less-transparent);
}

#Pzl .combo .on.correct {
  background-color: var(--accent);
}

#Pzl .combo .wrong {
  background-color: red;
}

.compass-tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --snow-icon-pow: invert(25%) sepia(76%) saturate(4238%) hue-rotate(236deg) brightness(82%) contrast(90%);
  --snow-icon-crud: invert(39%) sepia(16%) saturate(2043%) hue-rotate(267deg) brightness(89%) contrast(89%);
  --snow-icon-crust: invert(15%) sepia(86%) saturate(2507%) hue-rotate(350deg) brightness(117%) contrast(96%);
  --snow-icon-ice: invert(31%) sepia(84%) saturate(1046%) hue-rotate(177deg) brightness(101%) contrast(77%);
}

.compass-tool .tools {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.compass-tool .tools .tool-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.snow-quality {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.snow-quality .quality {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 0.9em;
}

.snow-icon {
  filter: var(--snow-icon-pow);
}

.snow-icon.ice {
  filter: var(--snow-icon-ice);
}

.snow-icon.crud {
  filter: var(--snow-icon-crud);
}

.snow-icon.crust {
  filter: var(--snow-icon-crust);
}

.tool-buttons .btn {
  background-color: var(--more-transparent);
  border: 5px solid var(--more-transparent);
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.8em;
  cursor: pointer;
  padding: 0 5px;
  line-height: 14px;
}

.tool-buttons .btn img {
  filter: var(--icon-foreground);
}

.tool-buttons .btn.active img {
  filter: var(--icon-fill);
}

.tool-buttons .btn.active,
.tool-buttons .btn:hover {
  background-color: var(--transparent);
}

.tool-buttons .btn.active {
  border-color: var(--transparent);
}

.nav-tool {
  display: flex;
}

.nav-buttons {
  position: relative;
  display: grid;
  width: 20rem;
  height: 20rem;
  background-color: var(--transparent);
  border-radius: 10rem;
  overflow: hidden;
  grid-template-columns: 60fr 45fr 60fr;
  grid-template-rows: 60fr 15fr 60fr;
  grid-template-areas: "nw n ne" "w .. e" "sw s se";
  gap: 10px;
  border: 10px solid var(--more-transparent);
}

.metrix {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  z-index: 999;
}

.metrix .angle.big {
  font-size: 1.3em;
}

html[data-scheme="dark"] .nav-icon {
  background-color: var(--foreground);
}

html[data-scheme="dark"] .nav-icon.loading {
  filter: var(--icon-fill);
}

.nav-buttons .nav-indicator {
  display: flex;
  position: absolute;
  width: 8rem;
  height: 8rem;
  align-self: center;
  justify-self: center;
  background-color: transparent;
  border-radius: 10rem;
  z-index: 999;
  font-size: 2.7em;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--background);
  border: 10px solid var(--less-transparent);
  font-weight: bold;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  line-height: 34px;
}

.nav-buttons .nav-indicator span {
  font-size: 0.5em;
  display: block;
  line-height: 23px;
  padding-top: 10px;
}

.nav-buttons .nav-indicator.show {
  opacity: 1;
  background-color: var(--accent);
  filter: brightness(110%);
}

.nav-icon {
  width: 8rem !important;
  height: 8rem !important;
  inset: unset !important;
  align-self: center;
  justify-self: center;
  filter: var(--icon-fill);
  background-color: var(--background);
  border-radius: 10rem;
  z-index: 99;
}

.nav-icon.loading {
  filter: var(--icon-foreground);
  background-color: var(--accent);
}

.nav-button {
  display: flex;
  position: relative;
  cursor: pointer;
  background-color: var(--transparent);
  border-radius: 3px;
}

.nav-button:hover {
  background-color: var(--accent);
  color: var(--background);
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.nav-dir {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
}

.e .nav-dir,
.w .nav-dir {
  flex-direction: row;
}

.nav-dir strong {
  font-size: 3em;
  line-height: 18px;
  position: absolute;
  color: var(--transparent);
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.nav-dir strong.small {
  font-size: 1.5em;
}

.n .nav-dir strong {
  top: 20px;
}

.s .nav-dir strong {
  bottom: 20px;
}

.w .nav-dir strong {
  left: 15px;
}

.e .nav-dir strong {
  right: 20px;
}

.n .nav-dir strong.small {
  top: 5px;
}

.s .nav-dir strong.small {
  bottom: 5px;
}

.w .nav-dir strong.small {
  left: 5px;
}

.e .nav-dir strong.small {
  right: 5px;
}

.nav-button.nw,
.nav-button.w,
.nav-button.sw {
  justify-content: flex-end;
}

.nav-button.nw,
.nav-button.ne {
  align-items: flex-end;
}

.nav-button.e,
.nav-button.w {
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  min-height: 76px;
}

.nav-button.n,
.nav-button.s {
  justify-content: center;
  align-items: center;
}

.nav-button.nw,
.nav-button.ne,
.nav-button.sw,
.nav-button.se {
  padding: 12px;
}

.nav-button.nw {
  grid-area: nw;
  border-radius: 0 0 11px 0;
}

.nav-button.n {
  grid-area: n;
}

.nav-button.ne {
  grid-area: ne;
  border-radius: 0 0 0 11px;
}

.nav-button.w {
  grid-area: w;
}

.nav-button.e {
  grid-area: e;
}

.nav-button.sw {
  grid-area: sw;
  border-radius: 0 11px 0 0;
}

.nav-button.s {
  grid-area: s;
}

.nav-button.se {
  grid-area: se;
  border-radius: 11px 0 0;
}

.avy-report {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
  opacity: 0;
}

.avy-report.open {
  margin-top: 20px;
  padding: 20px;
  height: 250px;
  opacity: 1;
}

.avy-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  color: #333;
  font-size: 0.8em;
}

.avy-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.ctrl-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background-color: var(--less-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

#GameTimer.countdown {
  font-weight: bold;
}

#GameTimer .time {
  animation: textSize 0.5s linear;
}

@keyframes textSize {
  0% { font-size: 15px; }
  100% { font-size: 16px; }
}

@media (min-width: 600px) and (max-width: 1199px) {

  .ski-menu.course,
  .ski-menu.finish {
    width: 65vw;
  }
}

@media (max-width: 600px) {

  .ski-menu.course,
  .ski-menu.finish {
    width: 90vw;
  }
}